<ion-app>
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>
        Keycloak Example App
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">
    <div id="container">
      <ion-button (click)="login()" [disabled]="hasValidAccessToken">Login</ion-button>
      <ion-button (click)="logout()" [disabled]="!hasValidAccessToken">Logout</ion-button>

      <div class="keycloak-data" *ngIf="realmRoles.length > 0">
        <p>Realm Roles</p>
        <pre>{{realmRoles | json}}</pre>
      </div>

      <div class="keycloak-data" *ngIf="userProfile">
        <p>UserProfile</p>
        <span>{{userProfile | json}}</span>
      </div>

    </div>
  </ion-content>

</ion-app>
